* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  clear: both;
}

header {
  background-color: chocolate;
  width: 100%;
  justify-content: space-between;
  display: flex;
  position: sticky;
  top: 0;
  box-shadow: 0px 4px 6px rgba(78, 78, 78, 0.4);
  z-index: 1;
}

.main {
  width: 90%;
  height: 100%;
  margin: auto;
}

.contenido {
  width: 100%;
  height: 100%;
}

.lateral {
  width: 22%;
  height: 100%;
  vertical-align: top;
  background-color: bisque;
  justify-content: space-between;
  display: flex;
  position: sticky;
  top: 60px;
  z-index: 0;
  /*justify-content: space-between;
  display: flex;
  position: sticky;
  top: 50p;
  box-shadow: 0px 4px 6px rgba(78, 78, 78, 0.4);
  z-index: 1;*/
}
.lateral .categorias, .lateral .registrarse, .lateral .destacados {
  font-size: 16px;
  color: dimgray;
  text-align: left;
  line-height: 18px;
  font-family: sans-serif;
  margin: 6px;
  padding: 4px;
  vertical-align: top;
}
.lateral .categorias a, .lateral .registrarse a, .lateral .destacados a {
  color: dimgray;
}
.lateral .registrarse {
  width: 100%;
  border: 1px solid gray;
  margin: 0;
}
.lateral .registrarse .titulo {
  color: dimgray;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.6rem;
}
.lateral .registrarse .formulario {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.lateral .registrarse .formulario input[type=text], .lateral .registrarse .formulario input[type=password], .lateral .registrarse .formulario input[type=email] {
  border: 2px solid #cecece;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  color: #a4a4a4;
}
.lateral .registrarse .formulario input[type=text], .lateral .registrarse .formulario input[type=password], .lateral .registrarse .formulario input[type=email] {
  width: 100%;
  margin-bottom: 10px;
}
.lateral .registrarse .formulario .boton {
  margin: auto;
  background: #3895ea;
  color: #fff;
  border-radius: 3px;
  padding: 6px 40px;
  border-radius: 15px;
}

.principal, .lateral {
  display: inline-block;
  vertical-align: top;
}

.principal {
  width: 77.6%;
  height: 100%;
  box-sizing: content-box;
}
.principal .arriba .informacion1 {
  width: 100%;
}
.principal .arriba .informacion1 .inf, .principal .arriba .informacion1 .muestra {
  width: 49.5%;
  display: inline-block;
  vertical-align: middle;
}
.principal .arriba .informacion1 .inf .titulo-inf {
  color: dimgray;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.6rem;
}
.principal .arriba .informacion1 .inf p {
  font-size: 1.3rem;
  color: dimgray;
  text-align: left;
  line-height: 28px;
  font-family: sans-serif;
  margin: 6px;
  padding: 3rem;
}
.principal .arriba .informacion1 .muestra .titulo {
  color: dimgray;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.6rem;
}
.principal .arriba .informacion1 .muestra .formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.principal .arriba .informacion1 .muestra .formulario input[type=text], .principal .arriba .informacion1 .muestra .formulario input[type=email], .principal .arriba .informacion1 .muestra .formulario textarea {
  border: 2px solid #cecece;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  color: #a4a4a4;
}
.principal .arriba .informacion1 .muestra .formulario input[type=text], .principal .arriba .informacion1 .muestra .formulario input[type=email] {
  width: 49%;
  margin-bottom: 15px;
}
.principal .arriba .informacion1 .muestra .formulario textarea {
  width: 100%;
  height: 100%;
  min-width: 100%;
  margin-bottom: 15px;
  min-height: 100px;
  max-height: 150px;
}
.principal .arriba .informacion1 .muestra .formulario .boton {
  margin: auto;
  background: #3895ea;
  color: #fff;
  border-radius: 3px;
  padding: 15px 40px;
}
.principal .medio {
  height: 100%;
}
.principal .medio .consolas {
  width: 100%;
}
.principal .medio .consolas .tipo-consola {
  width: 21%;
  height: 100%;
  display: inline-block;
  margin: 1rem;
  vertical-align: top;
  box-shadow: 0px 4px 4px rgba(78, 78, 78, 0.4);
}
.principal .medio .consolas .tipo-consola .titulo-consola {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.3rem;
  background-color: #e3c2a7;
  padding: 1rem;
}
.principal .medio .consolas .tipo-consola .logo-consola {
  width: 100%;
  height: 100px;
  vertical-align: top;
}
.principal .medio .consolas .tipo-consola .descripcion-breve {
  font-size: 1rem;
  color: dimgray;
  text-align: left;
  line-height: 28px;
  font-family: sans-serif;
  margin: 6px;
  padding: 5pxsa;
}
.principal .abajo .tipo-otro {
  width: 49.5%;
  height: 100%;
  display: inline-block;
  margin: 1rem;
  vertical-align: top;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0px 4px 4px rgba(78, 78, 78, 0.4);
}
.principal .abajo .tipo-otro .titulo-otro {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  background-color: #e3c2a7;
  padding: 2px;
  margin-bottom: 0px;
}
.principal .abajo .tipo-otro .logo-otro {
  width: 55%;
  height: 140px;
  background-color: #e3c2a7;
  vertical-align: top;
  margin-bottom: 0px;
}
.principal .abajo .tipo-otro .descripcion-otro {
  width: 42%;
  float: right;
  margin-bottom: 0px;
  font-size: 12px;
  color: dimgray;
  text-align: left;
  line-height: 18px;
  font-family: sans-serif;
  margin: 6px;
  padding: 3px;
}

footer {
  background-color: chocolate;
}
footer .pie {
  text-align: center;
  width: 100%;
  vertical-align: middle;
}
footer .pie .fin {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.6rem;
  background-color: bisque;
}
footer .pie .pies {
  display: inline-block;
  padding: 2rem;
}
footer .pie .pies .titulo-pie {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.6rem;
}
footer .pie .pies .lista-pie {
  margin: 1rem;
  padding: 1rem;
}
footer .pie .pies .lista-pie li a {
  color: white;
  font-size: 1.4rem;
}
footer .fin {
  text-shadow: 1px 2px 3px #4e4e4e;
}

@media (max-width: 480px) {
  .lateral {
    width: 100%;
    height: 100%;
    position: relative;
    top: auto;
    display: block;
  }
  .lateral .categorias, .lateral .registrarse, .lateral .destacados {
    font-size: 15px;
    color: dimgray;
    text-align: left;
    line-height: 20px;
    font-family: sans-serif;
    margin: 6px;
    padding: 5px;
    vertical-align: top;
    margin: 0;
  }

  .principal {
    width: 100%;
  }
  .principal .arriba {
    width: 100%;
    background: none;
  }
  .principal .arriba .informacion1 {
    width: 100%;
  }
  .principal .arriba .informacion1 .inf {
    width: 100%;
  }
  .principal .arriba .informacion1 .inf p {
    padding: 0;
    margin: 0;
  }
  .principal .arriba .informacion1 .muestra {
    width: 100%;
    margin: 8px 0;
  }
  .principal .medio {
    width: 100%;
  }
  .principal .medio .consolas {
    width: 100%;
  }
  .principal .medio .consolas .tipo-consola {
    width: 100%;
    margin: 0;
  }

  .abajo {
    width: 100%;
  }
  .abajo .otros {
    width: 100%;
  }
  .abajo .otros .tipo-otro {
    width: 100%;
  }
  .abajo .otros .tipo-otro .logo-otro {
    width: 100%;
    min-width: 50%;
  }
  .abajo .otros .tipo-otro .descripcion-otro {
    width: 100%;
    margin: 0;
    padding: 0 8px;
  }
}
@media (min-width: 481px) and (max-width: 720px) {
  .lateral {
    width: 30%;
    height: 100%;
    /* position: relative;
     top: auto;
     display: block;
     .categorias,.registrarse,.destacados{
       @include escritura($fcolor:dimgray,$fsize:15px,$pad:5px,$line:20px);
       vertical-align: top;
       margin: 0;
     }*/
  }

  .lateral, .principal {
    display: inline-block;
  }

  .principal {
    float: right;
    width: 70%;
    height: 100%;
  }
  .principal .arriba {
    width: 100%;
    display: inline-flex;
  }
  .principal .arriba .informacion1 {
    width: 100%;
    padding-left: 10px;
  }
  .principal .arriba .informacion1 .inf {
    width: 100%;
  }
  .principal .arriba .informacion1 .inf p {
    padding: 0;
    margin: 0;
  }
  .principal .arriba .informacion1 .muestra {
    width: 100%;
    margin: 8px 0;
  }
  .principal .medio {
    width: 100%;
    padding-left: 10px;
  }
  .principal .medio .consolas {
    width: 100%;
  }
  .principal .medio .consolas .tipo-consola {
    width: 49%;
    margin: 0;
  }

  .abajo {
    width: 100%;
    padding-left: 10px;
  }
  .abajo .otros {
    width: 100%;
  }
  .abajo .otros .tipo-otro {
    width: 100%;
  }
  .abajo .otros .tipo-otro .logo-otro {
    width: 100%;
    min-width: 50%;
  }
  .abajo .otros .tipo-otro .descripcion-otro {
    width: 100%;
    margin: 0;
    padding: 0 8px;
  }
}

/*# sourceMappingURL=stylo.css.map */
